@model ShopHouse.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    var culture = CultureInfo.CurrentCulture.Name;
}
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@section Slider{
    <div class="banner slider1 new-block">
        <div class="fixed-bg" style="background: url('/images/slider-bg1.jpg');"></div>
        <div class="slider owl-carousel owl-theme">
            @for (int index = 0; index < Model.slides.Count; index++)
            {
                var slide = Model.slides[index];
                <div class="item">
                    <div class="slider-block slide1 new-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="text-block">
                                        <div class="img-block ab1" data-animation-in="bounceInDown" data-animation-out="animate-out fadeOutRight">
                                            <img src="@slide.Image" alt="" class="img-responsive">
                                        </div>
                                        <h1 class="text-stl1" data-animation-in="lightSpeedIn" data-animation-out="animate-out fadeOutRight" localize-content>@slide.Name</h1>
                                        <div class="number-block" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutRight">
                                            <p class="text-stl2">@slide.Description</p>
                                            <h2 class="text-stl3">+00 123 456 789</h2>
                                            <div class="text-center">
                                                <a href="#" class="btn1 stl2" localize-content>About More</a>
                                                <a href="#" class="btn1 stl1" localize-content>Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="img-block img2">
                                        <div class="img-holder" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">
                                            <img src="/images/pz.png" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .slider-block -->
                </div>
            }
        </div>
    </div>
}
<!--abv-->
@await Component.InvokeAsync("SideBar")
<section class="special-offers-sec new-block">
    <div class="special-offer-inr-block new-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <p class="top-h" localize-content>today special</p>
                        <h2 localize-content>festive season offers</h2>
                        <div class="btm-style"><span><img src="/images/btm-style.png" alt="" class="img-responsive"></span></div>
                    </div>
                </div>
                <div class="col-lg-12 pd0">
                    <div class="special-offer-block ol_flr new-block">
                        <div class="ol_flr">
                            <div class="nav btn-filter-wrap">
                                <button id="js-filter-0" class="filterer btn"><span localize-content>Chicken</span></button>
                                <button id="js-filter-1" class="filterer btn"><span localize-content>Meals</span></button>
                                <button id="js-filter-2" class="filterer btn active-btn"><span localize-content>Populars all in Domnoo</span></button>
                                <button id="js-filter-3" class="filterer btn"><span localize-content>Veggie</span></button>
                                <button id="js-filter-4" class="filterer btn"><span localize-content>Burgers</span></button>
                            </div>
                            <div class="clearfix"></div>
                            <div class="slider-flr" id="filter_itm1">
                                @foreach (var item in Model.Featureproducts)
                                {
                                    var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                                    <div class="js-filter-chicken">
                                        <div class="block-stl2">
                                            <div class="img-holder">
                                                <img src="@item.ThumbnailImage" alt="@item.Name" class="img-responsive">
                                            </div>
                                            <div class="text-block">
                                                <h3>@item.Name</h3>
                                                <p class="sz">Size : Regular</p>
                                                <p class="price"><span>@Html.FormatValue(item.OriginalPrice, "{0:#,##0.00}")</span> <del>@Html.FormatValue(item.Price, "{0:#,##0.00}")</del></p>
                                            </div>
                                            <div class="btn-sec">
                                                <a href="@url" class="btn4" localize-content>About More</a>
                                                <a href="shopping_cart.html" class="btn1 stl2" localize-content>Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="spl-offer new-block">
    <div class="container-fluid c-grid">
        <div class="row">
            <div class="grid1">
                <div class="block-stl3 stl1">
                    <div class="fixed-bg" style="background: url('images/img6.jpg');"></div>
                    <div class="img-holder">
                        <img src="/images/img6.png" alt="" class="img-responsive">
                    </div>
                    <div class="offer-block">
                        <p class="top-h" localize-content>combo pack offer</p>
                        <h2 localize-content>want something real & juicy ?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare placerat tellus.</p>
                        <a href="shopping_cart.html" class="btn3" localize-content>shop now</a>

                    </div>
                </div>
                <div class="c-grid2">
                    <div class="col1">
                        <div class="block-stl3 stl3">
                            <div class="img-holder">
                                <img src="/images/img7.png" alt="" class="img-responsive">
                            </div>
                            <div class="offer-block">
                                <h2 localize-content>new arrivals</h2>
                                <p>Lorem ipsum dolor sit amconsetur adipiscing elit. Integer</p>
                                <a href="shopping_cart.html" class="btn3" localize-content>shop now</a>

                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="block-stl3 bg9 stl4">
                            <div class="img-holder">
                                <img src="/images/img8.png" alt="" class="img-responsive">
                            </div>
                            <div class="offer-block">
                                <h2 localize-content>hot chicken</h2>
                                <p>An to our fun day.Lorem ipsum dolor sit aadipiscing elit</p>
                                <a href="shopping_cart.html" class="btn3" localize-content>shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid2">
                <div class="block-stl3 stl2">
                    <div class="fixed-bg" style="background: url('/images/img9.jpg');"></div>
                    <div class="img-holder">
                        <img src="/images/img9.png" alt="" class="img-responsive">
                    </div>
                    <div class="offer-block">
                        <p class="top-h" localize-content>sunday offer</p>
                        <h2>wowooo combo pack special offer</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare.</p>
                        <a href="shopping_cart.html" class="btn3" localize-content>shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="deal-of-day new-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <p class="top-h" localize-content>winter special offer</p>
                    <h2 localize-content>deal of the day</h2>
                    <div class="btm-style"><span><img src="/images/btm-style.png" alt="" class="img-responsive"></span></div>
                    <p class="bottom-p">Lorem ipsum dolor sit amet consectetur adipiscing elit. <br>Curabitur erat turpis posuere ac ante at</p>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <div id="ofr_end"></div>
            </div>
            <div class="col-lg-12">
                <div class="item-slider2 owl-carousel owl-theme">
                    <div class="item">
                        <div class="block-stl2">
                            <div class="img-holder">
                                <img src="/images/img3.png" alt="" class="img-responsive">
                            </div>
                            <div class="text-block">
                                <h3>Veggie Supreme</h3>
                                <p class="sz">Size : Regular</p>
                                <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                            </div>
                            <div class="btn-sec">
                                <a href="product_single.html" class="btn4">About More</a>
                                <a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
                            </div>
                            <span class="nonveg veg-nonveg"></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-stl2">
                            <div class="img-holder">
                                <img src="/images/img4.png" alt="" class="img-responsive">
                            </div>
                            <div class="text-block">
                                <h3>Veggie Supreme</h3>
                                <p class="sz">Size : Regular</p>
                                <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                            </div>
                            <div class="btn-sec">
                                <a href="product_single.html" class="btn4">About More</a>
                                <a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
                            </div>
                            <span class="veg veg-nonveg"></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-stl2">
                            <div class="img-holder">
                                <img src="/images/img5.png" alt="" class="img-responsive">
                            </div>
                            <div class="text-block">
                                <h3>Veggie Supreme</h3>
                                <p class="sz">Size : Regular</p>
                                <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                            </div>
                            <div class="btn-sec">
                                <a href="product_single.html" class="btn4">About More</a>
                                <a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
                            </div>
                            <span class="nonveg veg-nonveg"></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-stl2">
                            <div class="img-holder">
                                <img src="/images/img.png" alt="" class="img-responsive">
                            </div>
                            <div class="text-block">
                                <h3>Veggie Supreme</h3>
                                <p class="sz">Size : Regular</p>
                                <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                            </div>
                            <div class="btn-sec">
                                <a href="product_single.html" class="btn4">About More</a>
                                <a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
                            </div>
                            <span class="nonveg veg-nonveg"></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-stl2">
                            <div class="img-holder">
                                <img src="/images/img5.png" alt="" class="img-responsive">
                            </div>
                            <div class="text-block">
                                <h3>Veggie Supreme</h3>
                                <p class="sz">Size : Regular</p>
                                <p class="price"><span>$6.00</span> <del>$8.00 40% off</del></p>
                            </div>
                            <div class="btn-sec">
                                <a href="product_single.html" class="btn4">About More</a>
                                <a href="shopping_cart.html" class="btn1 stl2">Add to Cart</a>
                            </div>
                            <span class="veg veg-nonveg"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="amezing-offers new-block">
    <div class="overlay"></div>
    <div class="fixed-bg parallax" style="background: url('/images/bg1.png');"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="img-holder">
                    <img src="/images/pz1.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="text-block-stl1">
                    <div class="title">
                        <p class="top-h">amazing offers online</p>
                        <h2>50% off pizzas online</h2>
                        <p class="bottom-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare placerat tellus sit amet ullamcorper.</p>
                        <a href="#" class="btn1 stl2">buy now</a>
                        <a href="#" class="btn1 stl1">about more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="this-month new-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <p class="top-h" localize-content>winter special offer</p>
                    <h2 localize-content>deal of the day</h2>
                    <div class="btm-style"><span><img src="/images/btm-style.png" alt="" class="img-responsive"></span></div>
                </div>
            </div>
            @foreach (var item in Model.Popularproducts)
            {
                var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="block-stl2">
                        <div class="img-holder">
                            <img src="@item.ThumbnailImage" alt="@item.Name" class="img-responsive">
                        </div>
                        <div class="text-block">
                            <h3>@item.Name</h3>
                            <p class="sz">Size : Regular</p>
                            <p class="price"><span>@Html.FormatValue(item.OriginalPrice, "{0:#,##0.00}")</span> <del>@Html.FormatValue(item.Price, "{0:#,##0.00}")</del></p>
                        </div>
                        <div class="btn-sec">
                            <a href="@url" class="btn4" localize-content>About More</a>
                            <a href="shopping_cart.html" class="btn1 stl2" localize-content>Add to Cart</a>
                        </div>
                        <span class="nonveg veg-nonveg"></span>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="this-month-blog new-block">
    <div class="container-fluid no-gutter">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <p class="top-h">this month</p>
                    <h2>Our blog</h2>
                    <div class="btm-style"><span><img src="images/btm-style.png" alt="" class="img-responsive"></span></div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="blog-slider1 owl-theme owl-carousel">
                    <div class="item">
                        <div class="blog-stl1">
                            <div class="img-holder">
                                <img src="/images/boy.jpg" alt="" class="img-responsive" />
                                <div class="ovrl-block">
                                    <h3>Donec leo metus placerat quis lorem sed ultricies bibendum metus.</h3>
                                    <a href="blog_single.html" class="btn1 stl2">read more</a>
                                </div>
                                <ul class="blog-info-nav">
                                    <li><a href="#"><i class="flaticon-profile"></i>Shamiyo</a></li>
                                    <li><a href="#"><i class="flaticon-chat"></i>245 Coments</a></li>
                                    <li><a href="#"><i class="flaticon-calendar"></i>2/04/2017</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-stl1">
                            <div class="img-holder">
                                <img src="/images/girl.jpg" alt="" class="img-responsive" />
                                <div class="ovrl-block">
                                    <h3>Donec leo metus placerat quis lorem sed ultricies bibendum metus.</h3>
                                    <a href="blog_single.html" class="btn1 stl2">read more</a>
                                </div>
                                <ul class="blog-info-nav">
                                    <li><a href="#"><i class="flaticon-profile"></i>Shamiyo</a></li>
                                    <li><a href="#"><i class="flaticon-chat"></i>245 Coments</a></li>
                                    <li><a href="#"><i class="flaticon-calendar"></i>2/04/2017</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-stl1">
                            <div class="img-holder">
                                <img src="/images/girl1.jpg" alt="" class="img-responsive" />
                                <div class="ovrl-block">
                                    <h3>Donec leo metus placerat quis lorem sed ultricies bibendum metus.</h3>
                                    <a href="blog_single.html" class="btn1 stl2">read more</a>
                                </div>
                                <ul class="blog-info-nav">
                                    <li><a href="#"><i class="flaticon-profile"></i>Shamiyo</a></li>
                                    <li><a href="#"><i class="flaticon-chat"></i>245 Coments</a></li>
                                    <li><a href="#"><i class="flaticon-calendar"></i>2/04/2017</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-stl1">
                            <div class="img-holder">
                                <img src="/images/girl2.jpg" alt="" class="img-responsive" />
                                <div class="ovrl-block">
                                    <h3>Donec leo metus placerat quis lorem sed ultricies bibendum metus.</h3>
                                    <a href="blog_single.html" class="btn1 stl2">read more</a>
                                </div>
                                <ul class="blog-info-nav">
                                    <li><a href="#"><i class="flaticon-profile"></i>Shamiyo</a></li>
                                    <li><a href="#"><i class="flaticon-chat"></i>245 Coments</a></li>
                                    <li><a href="#"><i class="flaticon-calendar"></i>2/04/2017</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--abv-->