@model CheckOutViewModel
@using ShopHouse.Utilities.Constants
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/js/Cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.initialize();
    </script>
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
<section class="page-info new-block">
    <div class="fixed-bg" style="background: url('images/info-bg.jpg');"></div>
    <div class="overlay"></div>
    <div class="container">
        <h2>Domnoo menu</h2>
        <div class="clear-fix"></div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">Menu</a></li>
        </ol>
    </div>
</section><!-- banner -->

@if (Model.cartItems != null)
{
    <section class="shopping-cart new-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table cart-tbl" id="tbl_cart">
                            <thead>
                                <tr>
                                    <th class="p_dtl" localize-content>Product Details</th>
                                    <th class="p_btn" localize-content></th>
                                    <th class="p_price" localize-content>Price</th>
                                    <th class="p_quantity" localize-content>Quantity</th>
                                    <th class="p_ttl" localize-content>Total</th>
                                </tr>
                            </thead>
                            <tbody id="cart_body">
                                @foreach (var item in Model.cartItems)
                                {
                                    <tr>
                                        <td class="p_dtl">
                                            <div class="block-stl9">
                                                <div class="img-holder">
                                                    <img src="@(Configuration[SystemConstants.Appsettings.BaseAddress] + item.Images)" alt="" class="img-responsive">
                                                </div>
                                                <div class="info-block">
                                                    <h5>@item.Name</h5>
                                                    <p class="txt-cat">Regular</p>
                                                    <p class="ab-txt-block">@item.Description</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p_price">
                                            @item.Price
                                        </td>
                                        <td class="p_quantity">
                                            <div class="quantity">
                                                <input type="number" class="form-control text-center" value="@item.Quantity" min="0">
                                            </div>
                                        </td>
                                        <td class="p_ttl">
                                            @Model.cartItems.Sum(x => x.Price * x.Quantity).ToString("N0")
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div>
        <form asp-controller="Cart" asp-action="CheckOut"  method="post">
            <section class="loc-cop-sum  new-block">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-12 col-md-4 col-sm-6 col-xs-12">
                            <div class="block-stl10">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" asp-for="checkOut.Email" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Address</label>
                                    <input type="text" class="form-control" asp-for="checkOut.Address" placeholder="Enter Address">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Name</label>
                                    <input type="text" class="form-control" asp-for="checkOut.Name" placeholder="Enter Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">PhoneNumber</label>
                                    <input type="text" class="form-control" asp-for="checkOut.PhoneNumber" placeholder="Enter PhoneNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="loc-cop-sum  new-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="block-stl10">
                                <h3>Find your location :</h3>
                                <p>Mauris nec semper justo, a accumsan est. Morbi massa libelementum.</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search Location..">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="block-stl10">
                                <h3>discount coupons :</h3>
                                <p>Mauris nec semper justo, a accumsan est. Morbi massa libelementum.</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="code type here..">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="block-stl10 odr-summary">
                                <h3>order summary :</h3>
                                <ul class="list-unstyled">
                                    <li><span class="ttl">Subtotal</span> <span class="stts">$145</span></li>
                                    <li><span class="ttl">Shipping</span> <span class="stts">Free Shipping</span></li>
                                    <li><span class="ttl">Vat Tax (20%)</span> <span class="stts">$10</span></li>
                                    <li><span class="ttl">Apply Discount Coupon</span> <span class="stts"><del>$40</del></span></li>
                                </ul>
                                <div class="ttl-all">
                                    <span class="ttlnm">Total</span>
                                    <span class="odr-stts" id="lb_total"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn1 stl2">Check out</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
}
else
{
    <span class="alert alert-danger">Hãy chọn sản phẩm trước khi thanh toán.</span>
    <a class="btn btn-outline-danger">Trở Về</a>
}

