@using ShopHouse.Utilities.Constants
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
<!DOCTYPE html>
<html>

<!-- Mirrored from rewebsotech.com/templates/Domnoo/web/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Dec 2021 01:49:40 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laendi Fashion Store</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon" />
    
    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,900,900i" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Font-awesome Icons CSS ==-->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--== Icofont Min Icons CSS ==-->
    <link href="~/assets/css/icofont.min.css" rel="stylesheet" />
    <!--== lastudioIcons CSS ==-->
    <link href="~/assets/css/lastudioIcons.css" rel="stylesheet" />
    <!--== Animate CSS ==-->
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <!--== Aos CSS ==-->
    <link href="~/assets/css/aos.css" rel="stylesheet" />
    <!--== FancyBox CSS ==-->
    <link href="~/assets/css/jquery.fancybox.min.css" rel="stylesheet" />
    <!--== Slicknav CSS ==-->
    <link href="~/assets/css/slicknav.css" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="~/assets/css/swiper.min.css" rel="stylesheet" />
    <!--== Slick CSS ==-->
    <link href="~/assets/css/slick.css" rel="stylesheet" />
    <!--== Main Style CSS ==-->
    <link href="~/assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--// culture id -->
    <input type="hidden" id="hidCulture" value="@culture" />
    <input type="hidden" id="hidBaseAddress" value="@Configuration[SystemConstants.Appsettings.BaseAddress]" />
    <!--// loader_wrapper -->

    <div id="wrapper">

        @RenderSection("Slider", required: false)
        <!-- banner -->

        <main>
            @RenderBody()
        </main>
        <!--== Scroll Top Button ==-->
        <div class="scroll-to-top"><span class="icofont-arrow-up"></span></div>

        <!--== Start Aside Search Menu ==-->
        <div class="search-box-wrapper">
            <div class="search-box-content-inner">
                <div class="search-box-form-wrap">
                    <div class="search-note">
                        <p>Start typing and press Enter to search</p>
                    </div>
                    <form action="#" method="post">
                        <div class="search-form position-relative">
                            <label for="search-input" class="sr-only">Search</label>
                            <input type="search" class="form-control" placeholder="Search" id="search-input">
                            <button class="search-button"><i class="lastudioicon-zoom-1"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!--== End Aside Search Menu ==-->
            <a href="javascript:;" class="search-close"><i class="lastudioicon-e-remove"></i></a>
        </div>
        <!--== End Aside Search Menu ==-->
        @await Component.InvokeAsync("Cartsidebar")
        <!--== Start Side Menu ==-->
        <aside class="off-canvas-wrapper">
            <div class="off-canvas-inner">
                <div class="off-canvas-overlay d-none"></div>
                <!-- Start Off Canvas Content Wrapper -->
                <div class="off-canvas-content">
                    <!-- Off Canvas Header -->
                    <div class="off-canvas-header">
                        <div class="close-action">
                            <button class="btn-close"><i class="icofont-close-line"></i></button>
                        </div>
                    </div>

                    <div class="off-canvas-item">
                        <!-- Start Mobile Menu Wrapper -->
                        <div class="res-mobile-menu">
                            <!-- Note Content Auto Generate By Jquery From Main Menu -->
                        </div>
                        <!-- End Mobile Menu Wrapper -->
                    </div>
                    <!-- Off Canvas Footer -->
                    <div class="off-canvas-footer"></div>
                </div>
                <!-- End Off Canvas Content Wrapper -->
            </div>
        </aside>
        <!--== End Side Menu ==-->
    </div>

    <!--=======================Javascript============================-->
    <!--=== Modernizr Min Js ===-->
    <script src="~/assets/js/modernizr.js"></script>
    <!--=== jQuery Min Js ===-->
    <script src="~/assets/js/jquery-main.js"></script>
    <!--=== jQuery Migration Min Js ===-->
    <script src="~/assets/js/jquery-migrate.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="~/assets/js/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!--=== jquery Appear Js ===-->
    <script src="~/assets/js/jquery.appear.js"></script>
    <!--=== jquery Swiper Min Js ===-->
    <script src="~/assets/js/swiper.min.js"></script>
    <!--=== jquery Fancybox Min Js ===-->
    <script src="~/assets/js/fancybox.min.js"></script>
    <!--=== jquery Aos Min Js ===-->
    <script src="~/assets/js/aos.min.js"></script>
    <!--=== jquery Slicknav Js ===-->
    <script src="~/assets/js/jquery.slicknav.js"></script>
    <!--=== jquery Countdown Js ===-->
    <script src="~/assets/js/jquery.countdown.min.js"></script>
    <!--=== jquery Tippy Js ===-->
    <script src="~/assets/js/tippy.all.min.js"></script>
    <!--=== Isotope Min Js ===-->
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <!--=== jquery Vivus Js ===-->
    <script src="~/assets/js/vivus.js"></script>
    <!--=== Parallax Min Js ===-->
    <script src="~/assets/js/parallax.min.js"></script>
    <!--=== Slick  Min Js ===-->
    <script src="~/assets/js/slick.min.js"></script>
    <!--=== jquery Wow Min Js ===-->
    <script src="~/assets/js/wow.min.js"></script>
    <!--=== jquery Zoom Min Js ===-->
    <script src="~/assets/js/jquery-zoom.min.js"></script>

    <!--=== Custom Js ===-->
    <script src="~/assets/js/custom.js"></script>

    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)

</body>

<!-- Mirrored from rewebsotech.com/templates/Domnoo/web/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Dec 2021 01:49:50 GMT -->
</html>