@using ShopHouse.Utilities.Constants
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
<!DOCTYPE html>
<html>

<!-- Mirrored from rewebsotech.com/templates/Domnoo/web/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Dec 2021 01:49:40 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laendi Fashion Store</title>
    <!-- Favicon -->
    <link rel="icon" href="/images/fav2.ico" type="image/x-icon">
</head>
<body>
    @* <div class="loader_wrapper">
        <div class="loader">
            <img src="/images/loader.gif" alt="" class="img-fluid">
        </div>
    </div> *@
    <!--// culture id -->
    <input type="hidden" id="hidCulture" value="@culture" />
    <input type="hidden" id="hidBaseAddress" value="@Configuration[SystemConstants.Appsettings.BaseAddress]" />
    <!--// loader_wrapper -->

    <div id="wrapper">
        
        @RenderSection("Slider", required: false)
        <!-- banner -->

        <main>
            @RenderBody()
        </main>
    </div>
   
    @RenderSection("Scripts", required: false)

</body>

<!-- Mirrored from rewebsotech.com/templates/Domnoo/web/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Dec 2021 01:49:50 GMT -->
</html>