@using ShopHouse.ViewModels.Common
@model PagedResult<ShopHouse.ViewModels.Catalog.Products.ProductVm>
@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#alertMsg').fadeOut('slow');
        }, 2000);
    </script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>
}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="mt-3 mb-2">
        <h3 class="h3 mb-2 text-gray-800">
            Danh Sách Sản Phẩm
        </h3>
    </div>

    <p class="mb-4">
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xs-12">
                    <a class="btn btn-outline-info" asp-action="Create">Tạo sản phẩm</a>
                    @* <form asp-action="ExporDataToFile" asp-controller="Product" method="post">
                        <button type="submit" class="btn btn-outline-dark">Export To Excel</button>
                    </form> *@
                    <a asp-action="ExporDataToFile" class="btn btn-outline-dark">Export To Excel</a>
                </div>
                <div class="col-sm-12 col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <input type="text" value="@ViewBag.keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <select class="form-control" onchange="this.form.submit()" name="categoryId" asp-items="@ViewBag.categories">
                                    <option value="">-chọn danh mục-</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <a asp-action="index" class="btn btn-outline-dark">Resest</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (ViewBag.successMsg != null)
            {
                <div id="alertMsg" class="alert alert-success" role="alert">
                    @ViewBag.successMsg
                </div>
            }
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên</th>
                            <th>Giá nhập</th>
                            <th>Giá bán</th>
                            <th>Số lượng tồn</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên</th>
                            <th>Giá nhập</th>
                            <th>Giá bán</th>
                            <th>Số lượng tồn</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OriginalPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td>
                                <a href="@Url.ActionLink("Edit","product",new { id = item.Id})"><i class="fa fa-pencil-square"></i></a>
                                <a href="@Url.ActionLink("Details","product",new { id = item.Id})"><i class="fa fa-drivers-license"></i></a>
                                <a href="@Url.ActionLink("Delete","product",new { id = item.Id})"><i class="fa fa-window-close"></i></a>
                                <a href="@Url.ActionLink("CategoryAssign","product",new { id = item.Id})"><i class="fa fa-product-hunt"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>

</div>

