@using ShopHouse.Utilities.Constants
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture.Name;
}
<!DOCTYPE html>
<html lang="en">

<body>

    <!--wrapper start-->
    <div class="wrapper">

        <!--== Start Header Wrapper ==-->
        @await Component.InvokeAsync("SideBar")
        <!--== End Header Wrapper ==-->

        <main class="main-content">
            <!--== Start Page Title Area ==-->
            <section class="page-title-area bg-overlay-black2-6 bg-img" data-bg-img="~/assets/img/photos/bg-page2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title-content">
                                <h2 class="title">My Account</h2>
                                <div class="bread-crumbs"><a href="/@culture/Home/index">Home<span class="breadcrumb-sep">></span></a><span class="active">My Account</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--== End Page Title Area ==-->
            <!--== Start Contact Area ==-->
            <div class="account-login-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 m-auto">
                            <div class="login-top">
                                <nav class="login-form-nav">
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="lastudioicon-user-1"></i>Login</button>
                                        <button class="nav-link nav-register" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="lastudioicon-user-2"></i>Register</button>
                                    </div>
                                </nav>
                            </div>
                            <div class="login-bottom">
                                <div class="login-form-content tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="login-form">
                                            <form class="login-form-wrapper" id="login-form" action="/@culture/account/login" method="post">
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="UserName" class="form-label">Username or email address *</label>
                                                                    <input type="text" name="UserName" class="form-control" id="UserName">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group mb-0">
                                                                    <label for="password" class="form-label mt-15">Password *</label>
                                                                    <input type="password" name="Password" class="form-control" id="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group mt-15">
                                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                    <label class="form-check-label" for="exampleCheck1"> Remember me</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group mb-0 form-group-info">
                                                                    <button class="btn btn-theme btn-black" type="submit">Log in</button>
                                                                    <a class="btn-forgot" href="#">Lost your password?</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Message Notification -->
                                        <div class="form-message"></div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <div class="login-form">
                                            <form class="login-form-wrapper" id="register-form" asp-controller="account" asp-action="Register" method="post">
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="RegUserName" class="form-label">First Name *</label>
                                                                    <input type="text" name="FirstName" class="form-control" id="RegUserName" title="@SystemConstants.requiredMess" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="RegUserName" class="form-label">Last Name *</label>
                                                                    <input type="text" name="LastName" class="form-control" id="RegUserName" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="RegUserName" class="form-label">Phone Number *</label>
                                                                    <input type="number" name="PhoneNumber" class="form-control" id="RegUserName" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="RegUserName" class="form-label">Dob *</label>
                                                                    <input type="date" name="Dob" class="form-control" id="RegUserName" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="email" class="form-label mt-15">Email address *</label>
                                                                    <input type="email" name="Email" class="form-control" id="email" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="RegUserName" class="form-label">Username *</label>
                                                                    <input type="text" name="UserName" class="form-control" id="RegUserName" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group mb-0">
                                                                    <label for="regpassword" class="form-label mt-15">Password *</label>
                                                                    <input type="password" name="Password" class="form-control" id="regpassword" title="@SystemConstants.PasswordVal.notification" pattern="@SystemConstants.PasswordVal.regexPassword" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group mb-0">
                                                                    <label for="regpassword" class="form-label mt-15">Confirm Password *</label>
                                                                    <input type="password" name="ConfirmPassword" class="form-control" title="@SystemConstants.PasswordVal.notification" pattern="@SystemConstants.PasswordVal.regexPassword" id="regpassword" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy.</p>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group mb-0 form-group-info">
                                                                        <button class="btn btn-theme btn-black" type="submit">Register</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--== End Contact Area ==-->
        </main>

        <!--== Start Footer Area Wrapper ==-->
        @await Component.InvokeAsync("Footer")
        <!--== End Footer Area Wrapper ==-->
    </div>

</body>


<!-- Mirrored from htmldemo.net/moren/moren/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Sep 2023 04:38:57 GMT -->
</html>

